@model Politiq.Models.ObjectModel.Member

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<fieldset>
    <legend>Member</legend>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

@*    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>*@

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MemberID }) |
    @Ajax.ActionLink("Delete", "DeleteConfirm", "Account", new { id = Model.MemberID },
                     new AjaxOptions
                     {
                         HttpMethod = "Delete",
                         Confirm = "Are you sure you want to delete this account?",
                         OnComplete = "deleteComplete"
                     }
                     ) |
    @Html.ActionLink("Back to List", "Index")
</p>
