@{
    ViewBag.Title = "Welcome";
}

<h2>Hi, <b>@Context.User.Identity.Name</b>! Welcome to my website!</h2>

<p>@Html.ActionLink("Log out", "Logout", "Account")</p>



<p>@Ajax.ActionLink("Open Parliament", "Open", "Parliament",
                     new AjaxOptions
                     {
                         HttpMethod = "Post",
                         Confirm = "Open a new session of Parliament?"
                     }
                     )</p>

<p>@Ajax.ActionLink("Prorogue Parliament", "Prorogue", "Parliament",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        Confirm = "Prorogue the current session of Parliament?"
                    }
                    )</p>

<p>@Ajax.ActionLink("Dissolve Parliament", "Dissolve", "Parliament",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        Confirm = "Dissolve Parliament and hold an election?"
                    }
                    )</p>
