@model Politiq.Models.ObjectModel.Legislation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Legislation</legend>

    <div class="display-label">BillNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillNumber)
    </div>

    <div class="display-label">OriginatingChamber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginatingChamber)
    </div>

    <div class="display-label">BillType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillType)
    </div>

    <div class="display-label">LongTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LongTitle)
    </div>

    <div class="display-label">ShortTile</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortTile)
    </div>

    <div class="display-label">Preamble</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preamble)
    </div>

    <div class="display-label">Stage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stage)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
