@model Politiq.Models.ObjectModel.Legislation

@{
    ViewBag.Title = "Bill " + ViewBag.Style;
}

<h2>Bill @ViewBag.Style</h2>

    <p>
       <strong> @Html.DisplayFor(model => model.LongTitle)   </strong>
    </p>

    <p>@Html.DisplayFor(model => model.Preamble)</p>

    <p><i>NOW, THEREFORE, Her Majesty, by and with the advice and consent of the Senate and House of Commons of Canada, enacts as follows:</i></p>

    @foreach (var p in Model.Provisions) { 
       <p>@p.Article.ToString(). @Html.Raw(@p.Text)</p> 
    }

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LegislationID }) |
    @Html.ActionLink("Back to List", "Index")
    
</p>
